@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Students</h1>
    <p class="lead">List of students and their courses.</p>
</div>

<div class="row">
    <div class="col-3">
        <h2>Final Project C#</h2>
       
        
</div>